---
import Calendar from "@/components/community-hub/calendar.astro";
import Faq from "@/components/developer-hub/faq";
import Community from "@/components/programs/community.astro";
import Governance from "@/components/programs/governance.astro";
import ProgramHero from "@/components/programs/hero-section.astro";
import PointsGrid from "@/components/programs/points-grid.astro";
import TeamGrid from "@/components/programs/team-grid.astro";
import UpdatesSection from "@/components/programs/updates-section.astro";
import Button from "@/components/ui/button.astro";
import Seperator from "@/components/ui/seperator.astro";
import { faqs, heroPoints, members } from "@/data/homepage/entropy";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  smooth
  title={"Entropy Advisors"}
  description={`Entropy Advisors is a specialized strategic consulting firm that
        exclusively partners with the Arbitrum DAO. With extensive experience in
        blockchain governance and growth strategy, they provide critical
        insights and guidance, helping Arbitrum align its community, mission,
        and strategic vision. Entropy Advisors has become an invaluable partner
        in driving sustainable growth and enhancing decision-making processes
        within the DAO.`}
>
  <ProgramHero
    title="Entropy Advisors"
    description="Entropy Advisors is a specialized strategic consulting firm that exclusively partners with the Arbitrum DAO. With extensive experience in blockchain governance and growth strategy, they provide critical insights and guidance, helping Arbitrum align its community, mission, and strategic vision."
    image={{
      src: "/entropy/hero.svg",
      alt: "Arbitrum Research and Development Collective",
      className: "aspect-[16/7] w-[100%] object-cover object-center md:w-[40%]",
    }}
    buttons={[
      {
        href: "https://forum.arbitrum.foundation/t/entropy-advisors-exclusively-working-with-arbitrum-dao/25246",
        text: "Arbitrum Forum",
        variant: "secondary",
      },
      {
        href: "https://snapshot.org/#/arbitrumfoundation.eth/proposal/0x3161a3d9486ab7b6099be9fda16d6498f329249c0ad33b0f75090f2ceb557789",
        text: "Snapshot",
        variant: "secondary",
      },
      {
        href: "https://www.tally.xyz/gov/arbitrum/proposal/16862129143470948068395175122563617380780349421262247459634070073165514405758",
        text: "Tally",
        variant: "secondary",
      },
    ]}
  />

  <PointsGrid points={heroPoints} />

  <Seperator />

  <section class="flex flex-col gap-10 py-5 md:gap-20 md:py-10">
    <div class="flex flex-col gap-6 md:gap-4">
      <h2
        class="flex items-center gap-3 text-lg font-medium md:text-xl lg:text-2xl"
      >
        Vision of Entropy Advisors
      </h2>

      <div class="ml-auto flex flex-col gap-10 md:w-2/3 lg:w-1/2 lg:gap-5">
        <p
          class="font-os text-xs font-light text-gray-500 md:text-sm lg:text-base"
        >
          Entropy Advisors envisions supporting Arbitrum DAO by enhancing its
          governance and community engagement across multiple phases. Their goal
          is to build a resilient, decentralized protocol, fostering better
          decision-making structures and processes to accommodate future growth.
          Through collaboration, they aim to ensure Arbitrum's long-term
          scalability and adaptability within the blockchain ecosystem.
        </p>
      </div>
    </div>
    <div
      class="flex w-full flex-col-reverse items-center justify-between gap-10 rounded-small bg-gradient-to-b from-primary-light to-white px-3 pt-10 md:gap-10 md:rounded-5xl md:p-5 lg:flex-row"
    >
      <div class="flex flex-col gap-10 pb-10 lg:w-1/2 lg:py-28">
        <div class="flex flex-col gap-2 lg:gap-4">
          <h1 class="text-lg font-medium md:text-2xl lg:text-3xl">
            <span>Long-Term Ecosystem </span>

            <span class={"text-primary"}>Development</span>
          </h1>

          <p
            class={"pt-3 font-os text-xs font-light text-gray-500 md:text-base lg:pt-0 lg:text-base"}
          >
            Their vision also includes working closely with the DAO to improve
            operational efficiency and contribute to strategic growth. This
            involves tackling challenges such as transparency, governance
            flexibility, and ecosystem development to strengthen Arbitrum’s
            position as a leader in the decentralized space.
          </p>
        </div>
        <div class="flex items-start">
          <Button
            href={"https://forum.arbitrum.foundation/t/entropy-advisors-exclusively-working-with-arbitrum-dao/25246#p-53488-vision-9"}
            arrow
          >
            Learn More
          </Button>
        </div>
      </div>
      <div class="flex flex-1 items-center justify-center md:w-[60%] lg:w-1/2">
        <img
          src={"/entropy/development.svg"}
          alt={""}
          class="w-[76%] lg:aspect-[16/11]"
        />
      </div>
    </div>
  </section>

  <Seperator />
  <section class="flex flex-col gap-6 md:gap-4">
    <h2
      class="text-lg font-medium md:text-xl lg:w-[35%] lg:text-2xl xl:w-[30%]"
    >
      Entropy’s Portfolio
    </h2>
    <div class="ml-auto flex flex-col gap-10 md:w-2/3 lg:w-1/2 lg:gap-5">
      <p
        class="font-os text-xs font-light text-gray-500 md:text-sm lg:text-base"
      >
        Entropy Advisors introduced itself to the Arbitrum DAO in May and has
        since led initiatives to improve governance and operational efficiency.
        They launched the Multisig Support Service to cut expenses, researched
        sequencer fees to propose a revenue-boosting fee increase, and
        facilitated funding for Arbitrum’s presence at the GovHack event.
        Additionally, They established a structured governance calendar for
        smoother proposal processes.
      </p>
      <Button
        href={"https://forum.arbitrum.foundation/t/entropy-advisors-exclusively-working-with-arbitrum-dao/25246"}
        arrow
      >
        Learn More
      </Button>
    </div>
  </section>
  <Seperator />
  <section
    class="flex flex-col items-center justify-between gap-6 md:flex-row lg:gap-10 lg:p-5"
  >
    <div class="flex flex-col gap-8 md:w-[50%]">
      <div class="flex flex-col gap-2 lg:gap-4">
        <h2 class="text-lg font-medium md:text-2xl lg:text-3xl">
          Cost & Budget Breakdown
        </h2>

        <p
          class={"pt-3 font-os text-xs font-light text-gray-500 md:text-base lg:pt-0 lg:text-base"}
        >
          The Cost & Budget Breakdown for Entropy Advisors ensures competitive
          compensation, operational support, and flexibility to engage top
          talent. It includes allocations for legal, insurance, and accounting
          services, industry event participation, essential software, and office
          resources. A contingency margin covers unforeseen expenses, and a
          performance-based bonus aligns Entropy’s goals with the DAO’s
          interests, promoting accountability and transparency.
        </p>
      </div>

      <Button
        arrow
        variant="default"
        href="https://forum.arbitrum.foundation/t/entropy-advisors-exclusively-working-with-arbitrum-dao/25246#p-53488-cost-budget-breakdown-14"
        >Learn More</Button
      >
    </div>
    <div class="md:w-[50%]">
      <img
        src={"/entropy/budget.png"}
        alt={"wheel"}
        class="aspect-[16/9] w-full object-contain"
      />
    </div>
  </section>
  <Seperator />
  <TeamGrid members={members} columns={3} mobileColumns={2} />

  <Seperator />
  <Calendar />
  <Seperator />
  <UpdatesSection
    button={{
      href: "https://forum.arbitrum.foundation/c/dao-grant-programs/entropy-advisors-updates/50",
      text: "View all Updates on Forum",
    }}
    title="Stay Updated with Entropy Advisors"
    description="Explore ongoing initiatives, achievements, and goals shaping the DAO’s evolution. A guide for informed and effective community participation."
    updates={[
      {
        title: "Entropy Advisor’s Monthly Update: October 2024",
        date: "October, 2024",
        link: "https://forum.arbitrum.foundation/t/entropy-advisors-monthly-update-october-2024/27393",
      },
      {
        title: "Entropy Advisor’s Monthly Update: September 2024",
        date: "September, 2024",
        link: "https://forum.arbitrum.foundation/t/entropy-advisors-monthly-update-september-2024/26996",
      },
      {
        title: "Entropy Advisor’s Monthly Update: August 2024",
        date: "August, 2024",
        link: "https://forum.arbitrum.foundation/t/entropy-advisors-monthly-update-august-2024/26637",
      },
    ]}
  />
  <Seperator />
  <Community
    title="Get Involved with Entropy Advisors"
    description="Connect, Collaborate, Contribute"
    cards={[
      {
        link: {
          href: "https://forum.arbitrum.foundation/t/entropy-advisors-exclusively-working-with-arbitrum-dao/25246",
          text: "Visit Forum Threads",
        },
        icon: "message",
        title: "Share Your Ideas",
        description:
          "Engage in discussions and share your insights on their forum threads. ",
      },
      {
        link: {
          href: "/meetings/",
          text: "View Meeting Schedule",
        },
        icon: "message",
        title: "Join Bi-Weekly Calls",
        description:
          "Stay updated by participating in our open calendar events.",
      },
    ]}
  />
  <Seperator />
  <Governance
    cards={[
      {
        title: "Explore Their Values and Goals",
        description:
          "Learn about their vision and objectives for the community by visiting their Tally Profile.",
        buttonLabel: "Tally Profile",
        buttonLink:
          "https://www.tally.xyz/gov/arbitrum/delegate/0xb4c064f466931b8d0f637654c916e3f203c46f13",
      },
      {
        title: "Understand Their Decision-Making Process",
        description:
          "Check out their Delegate Communication Thread for insights into their voting rationales and contributions.",
        buttonLabel: "View Thread",
        buttonLink:
          "https://forum.arbitrum.foundation/t/entropy-advisors-delegate-communication-thread/26636",
      },
    ]}
  />

  <Seperator />
  <Faq client:load questions={faqs} />
</MainLayout>
