---
import { colors } from "@/consts";
import clsx from "clsx";

interface Props {
  type?: "Active" | "Completed" | "Coming Soon";
}

const { type } = Astro.props;
---

{
  type && (
    <span
      class={clsx(
        "flex items-center gap-1 rounded-full px-3 py-1 text-xs font-medium",
        type === "Active" && {
          [colors.Active.bg]: true,
          [colors.Active.text]: true,
        },
        type === "Completed" && {
          [colors.Completed.bg]: true,
          [colors.Completed.text]: true,
        },
        type === "Coming Soon" && {
          [colors.ComingSoon.bg]: true,
          [colors.ComingSoon.text]: true,
        },
      )}
    >
      <div
        class={clsx(
          "size-2 rounded-full",
          type === "Active" && colors.Active.dot,
          type === "Completed" && colors.Completed.dot,
          type === "Coming Soon" && colors.ComingSoon.dot,
        )}
      />
      {type}
    </span>
  )
}
